body{
    margin: 0px;
}

header h1{
    margin: 0px;
  
}

header{
    float: left;
    background-color: red;
    width: 100%;
    height: 80px;
    text-align: center; 
    margin-bottom: 10px;
    text-transform:capitalize;
    line-height: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    float: left;
    background-color:yellow;
    width: 20%;
    min-height: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

nav a{
    display:inline-flex;
    justify-content:space-around;
    align-items: center;
    margin: 12px;
    width: 90%;
    height: 80px;
    background-color:black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
}

nav a:hover{
    background-color: red;
}

main{
    float: left;
    background-color:blue;
    width: 80%;
    min-height: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article{
    color: black;
    width: 100%;
    float: left;
    text-align:center;
}

article section{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 18%;
    height: 100px;
    background-color:orange;
    color: white;
    margin:12px;
    margin-bottom: 3%;
    margin-top: 3%;
    text-transform:capitalize;
    border-radius: 50px;
    margin-top: 80px;
}

article h2{
    background-color: black;
    color:white;
    width: 100%;
    height: 50px;
    margin-top: 0px;
}

article section a{
    color:white;
    text-decoration: none;
}

article section a:hover{
    background-color: black;
}

footer{
    float: left;
    background-color:gray;
    color: white;
    width: 100%;
    min-height: 150px;
    margin-top: 10px;
}


